
# ------------ System clock ---------------------------------------------------
set_io --warn-no-port clk R9

# -------------| P2 |----------------------------------------------------------
#
#                   v                                      v
#      -------------------------------        ---------------------------
#     | 3V3 | GND | B4 | C3 | A2 | A5 |      | 3V3 | GND | 0 | 1 | 2 | 3 |
#      -------------------------------        ---------------------------
#     | 3V3 | GND | B5 | B3 | B6 | B7 |      | 3V3 | GND | 4 | 5 | 6 | 7 |
#      -------------------------------        ---------------------------
#

set_io --warn-no-port rdy B4
set_io --warn-no-port slk C3
set_io --warn-no-port pico A2
set_io --warn-no-port cs A5
set_io --warn-no-port P14 B5
set_io --warn-no-port P15 B3
set_io --warn-no-port P16 B6
set_io --warn-no-port P17 B7

# -------------| P1 |----------------------------------------------------------
#
#                   v                                        v
#      ---------------------------------        ---------------------------
#     | 3V3 | GND | B11 | B10 | B9 | D8 |      | 3V3 | GND | 0 | 1 | 2 | 3 |
#      ---------------------------------        ---------------------------
#     | 3V3 | GND | A11 | A10 | A9 | B8 |      | 3V3 | GND | 4 | 5 | 6 | 7 |
#      ---------------------------------        ---------------------------
#

set_io --warn-no-port d[0] B11
set_io --warn-no-port d[1] B10
set_io --warn-no-port d[2] B9
set_io --warn-no-port d[3] D8
set_io --warn-no-port d[4] A11
set_io --warn-no-port d[5] A10
set_io --warn-no-port d[6] A9
set_io --warn-no-port d[7] B8