 # -----------------------------------------------------------------------------
#- icoBOARD constraint file (.pcf)
#- By Jesus Arroyo Torrens
#- September - 2016
#- GPL license
# -----------------------------------------------------------------------------
# --  Pinout: http://icoboard.org/icoboard-1-0.html


# ------------ System clock ---------------------------------------------------
set_io --warn-no-port CLK R9

# ------------ PMOD connectors ------------------------------------------------
#         ______     ______
#      __|  P1  |___|  P2  |_______
#     |  |______|   |______|       |
#     |                            |
#     |_          ______           |
#       |        |      |          |
#       |        |      |          |
#      _|        |______|          |
#     |                            |
#     |    ______     ______       |
#     |___|  P3  |___|  P4  |______|
#         |______|   |______|
#

# -------------| P1 |----------------------------------------------------------
#
#                   v                                      v
#      -------------------------------        ---------------------------
#     | 3V3 | GND | B4 | C3 | A2 | A5 |      | 3V3 | GND | 0 | 1 | 2 | 3 |
#      -------------------------------        ---------------------------
#     | 3V3 | GND | B5 | B3 | B6 | B7 |      | 3V3 | GND | 4 | 5 | 6 | 7 |
#      -------------------------------        ---------------------------
#

set_io --warn-no-port X[0] B4
set_io --warn-no-port X[1] C3
set_io --warn-no-port X[2] A2
set_io --warn-no-port Y[0] A5
set_io --warn-no-port Y[1] B7

