
set_io --warn-no-port IN[0] B11
set_io --warn-no-port IN[1] B10
set_io --warn-no-port IN[2] B9
set_io --warn-no-port IN[3] D8

set_io --warn-no-port A A5
set_io --warn-no-port B A2
set_io --warn-no-port C C3
set_io --warn-no-port D B4
set_io --warn-no-port E B7
set_io --warn-no-port F B6
set_io --warn-no-port G B3
set_io --warn-no-port DP B5

