# -----------------------------------------------------------------------------
#- icoBOARD constraint file (.pcf)
#- By Jesus Arroyo Torrens
#- September - 2016
#- GPL license
# -----------------------------------------------------------------------------
# --  Pinout: http://icoboard.org/icoboard-1-0.html


# ------------ PMOD connectors ------------------------------------------------
#         ______     ______
#      __|  P1  |___|  P2  |_______
#     |  |______|   |______|       |
#     |                            |
#     |_          ______           |
#       |        |      |          |
#       |        |      |          |
#      _|        |______|          |
#     |                            |
#     |    ______     ______       |
#     |___|  P3  |___|  P4  |______|
#         |______|   |______|
#

# -------------| P1 |----------------------------------------------------------
#
#                   v                                      v
#      -------------------------------        ---------------------------
#     | 3V3 | GND | B4 | C3 | A2 | A5 |      | 3V3 | GND | 0 | 1 | 2 | 3 |
#      -------------------------------        ---------------------------
#     | 3V3 | GND | B5 | B3 | B6 | B7 |      | 3V3 | GND | 4 | 5 | 6 | 7 |
#      -------------------------------        ---------------------------
#

set_io --warn-no-port IN[0] B4
set_io --warn-no-port IN[1] C3
set_io --warn-no-port IN[2] A2
set_io --warn-no-port IN[3] A5

# -------------| P2 |----------------------------------------------------------
#
#                   v                                        v
#      ---------------------------------        ---------------------------
#     | 3V3 | GND | B11 | B10 | B9 | D8 |      | 3V3 | GND | 0 | 1 | 2 | 3 |
#      ---------------------------------        ---------------------------
#     | 3V3 | GND | A11 | A10 | A9 | B8 |      | 3V3 | GND | 4 | 5 | 6 | 7 |
#      ---------------------------------        ---------------------------
#

set_io --warn-no-port A B11
set_io --warn-no-port B B10
set_io --warn-no-port C B9
set_io --warn-no-port D D8
set_io --warn-no-port E A11
set_io --warn-no-port F A10
set_io --warn-no-port G A9
set_io --warn-no-port DP B8

